<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com"/>
    <context:annotation-config>1</context:annotation-config>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀属性:视图文件的路径,前后斜杠,前代表根,后代表是路径-->
        <property name="prefix" value="/WEB-INF/view/"/>
        <!--后缀属性:试图文件的扩展名-->
        <property name="suffix" value=".jsp"/>

    </bean>

</beans>